html, body {
  margin: 0;
  height: 100%;
} 

.brand-title
{
  font-family: 'Merriweather', sans-serif;
}

#brand-bar
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background: linear-gradient(0deg,rgba(0,0,0,.75),#000);
  color: white;
}
.navbar
{
  width:30%
}
.navbar-list
{
  display: flex;
  
  list-style-type: none;
}

.navbar-top-list
{
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
}

.navbar-bot-list
{
  
  justify-content: center;
  align-items: center;
}
