html, body {
  margin: 0;
  height: 100%;
  color: white;
  background-image:  linear-gradient(0deg,rgba(0,0,0,.10),#001), url('./assets/campus.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
} 

main {
  z-index: 1;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

header {
  height: 100vh;
  position: fixed;
}


.brand-title {
  font-family: 'Merriweather', sans-serif;
}



#explore-banner {

  background-color: #27408B;
  height: 5vh;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  font-family: 'Merriweather', sans-serif;
}

#center-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
  font-size: 60px;
  padding: 0px;
}

#brand-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height:5vh;
  align-items: center;
  

}
#sub-bar {
  height: 5vh;
  width: 50%;
  text-align: center;
  margin: auto;
}

.navbar {
  width:30%;
}

.navbar-list {
  display: flex;
  list-style-type: none;
}

.navbar-top-list
{
  justify-content: space-between;
  align-items: flex-end;
}

.navbar-bot-list
{
  justify-content: space-evenly;
  align-items: center;
}

#top-news {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.navbar-item {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    padding-top: 4px;
    transition: background-size .3s;
}

.navbar-item:hover, .navbar-item:focus {
  background-size: 100% 2px;
  cursor: pointer;
}


.navbar-item-bottom {
  background-position: 0% 100%;
  padding-bottom: 4px;
}

.news-widget {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.news-widget  p {
  margin-top: -10px;
  margin-left: 20px;
}

.news-widget-large {
  width: 600px;
}

.news-widget-small {
  width: 280px;
}

#top-news {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1300px;
}

#top-news-right {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

main {
  
  position: absolute;
  top: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hambridge-news {
  color: black;
  background-color: #e0e0e0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}


#first-news-photo {
  background-image:  linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,.5)), url('./assets/covid.jpg');
}

#second-news-photo {
  background-image:  url('./assets/prof.jpg');
}

#third-news-photo {
  background-image:  url('./assets/police.jpg');
}

#fourth-news-photo {
  background-image:  url('./assets/physicist.jpg');
}

#fifth-news-photo {
  background-image:  url('./assets/medicine.jpg');
}

#sixth-news-photo {
  background-image: linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,.5)), url('./assets/car.jpg');
}
.news-widget-small-title {
  padding-top: 10px;
  color: black;
  background-color: white;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#latest-events {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  width: 1300px;
} 

.event-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  height: 500px;
  background-color: black;
}

.event-widget-text {
  height: 40%;
  text-align: left;
  padding-left: 10px;
  background-color: white;
  color: black;
}

.event-widget-date {
  height: 70px;
  width: 70px;
  z-index: 1;
  margin-left: 10px;
  margin-bottom: -10px;
  background-color:grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  

}

.event-widget-day {
  font-size: 12px;

}

#hambridge-events {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}


.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.research-news {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.three-box-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.three-box-widget {
  width:380px;
}

.three-box-photo {
  height: 300px;
  width: 100%;
  background-image:  url('./assets/police.jpg');
}

.two-box-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.two-box-widget {
  width:550px;
  text-align: left;
}

#base-photo {
  background-image: url("./assets/base-campus.jpg");
  background-size: cover;
  width:100vw;
  height: 500px;
}

#base-menu {
  display: flex;
}

#mid-base-section {
  display: flex;
}
footer {
  display: flex;
}

.flex-container {
  display: flex;
}

.flex-container-column {
  flex-direction: column;
}

.flex-container-row {
  flex-direction: row;
}